.beijing {
  width: 100px;
  height: 100px;
  background: pink;

  display: flex;
  justify-content: center;
  align-items: center;
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
