.box {
  height: 53vh;
  margin-left: 0;
  margin-right: 0;
}
.szk {
  width: 100%;
  height: 10rem;
  background: rgb(250, 250, 248);
}
.szk a {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: 4rem;
}
.szk a:hover {
  color: dodgerblue;
}
.zjym {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 7rem;
}
.zjb {
  width: 28rem;
  height: 28rem;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    150deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(250, 224, 242, 1) 53%,
    rgba(244, 243, 243, 1) 100%
  );
  border-radius: 25px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.heng {
  width: 28rem;
  height: 0.5rem;
  background: #f4c9e7;
  z-index: 666;
  position: relative;
  top: 2rem;
  right: 1.3rem;
}
.zjz {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
