.box {
  height: 53vh;
}
.szk {
  width: 10rem;
  height: 20rem;
  background: #d3d3d3;
  position: relative;
  left: 1rem;
  bottom: 0;
}
.szk a {
  text-decoration: none;
  display: block;
  margin: 0.8rem;
  width: 7rem;
}
.szk a:hover {
  color: dodgerblue;
}
.zjym {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10rem;
}
.zjb {
  width: 25rem;
  height: 20rem;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    150deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(250, 224, 242, 1) 53%,
    rgba(244, 243, 243, 1) 100%
  );
  border-radius: 25px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.zjz {
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
