@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  sm	640 像素	@media (min-width: 640px) { ... }
  md	768 像素	@media (min-width: 768px) { ... }
  lg	1024像素	@media (min-width: 1024px) { ... }
  xl	1280 像素	@media (min-width: 1280px) { ... }
  2xl	1536 像素	@media (min-width: 1536px) { ... }
*/

/* 动画设置区 */
/* 从两边模糊渐入动画 */
:root {
  /* ease-in corresponds to cubic-bezier(0.42, 0, 1.0, 1.0) */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  /* ease-out corresponds to cubic-bezier(0, 0, 0.58, 1.0) */
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* ease-in-out corresponds to cubic-bezier(0.42, 0, 0.58, 1.0) */
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* 文字从中间模糊扩散动画 */
.an-1 {
  animation-name: focus-in-expand;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -1em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* 从顶部模糊渐入动画 */
.an-2 {
  animation-name: text-blur-out-top;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes text-blur-out-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-400px);
    filter: blur(12px) opacity(0%);
  }
  100% {
    transform: translateY(0);
    filter: blur(0.01);
  }
}

/* 从上方至下渐显 */
.an-3 {
  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: var(--ease-out-cubic);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 从向上下两边同时拉扯 */
.an-4 {
  animation-name: slit-in-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
  }
}

/* 从右边模糊渐入 */
.an-5 {
  animation-name: roll-in-blurred-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(1000px);
    filter: blur(50px);
    opacity: 0;
  }
  50% {
    transform: translateX(500px);
    filter: blur(50px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

/* 从下至上缓入 */
.an-6 {
  animation-name: slide-in-bck-bottom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes cloes {
  0%,
  100% {
    transform: translateX(-10%);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    opacity: 0.3;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* 动画设置区 */

/* 清除自带浏览器滚动条样式 */
::-webkit-scrollbar {
  display: none;
}

/* color区 */
.bg-1 {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.bg-2 {
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.bg-3 {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

.touch-x {
  /*
  设置规定的滑动方向,或阻止默认滑动效果 
  ||
  移动端Web界面滚动性能优化 Passive event listeners 
  ||
  解决[Intervention] Unable to preventDefault inside passive event listener due 
  to target being treated as passive. See URL报错    
  */
  touch-action: pan-x;
}

html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  box-sizing: border-box;
}

.heartBg {
  background-image: url("./img/bgImg/i-like-food.svg");
}
.heartBg-dark {
  background-color: #253446;
  background-image: url("./img/bgImg/i-like-food.svg");
}

.icon-0 {
  background-image: url("./img/faceImg/bird.svg");
  background-repeat: no-repeat;
}
.icon-1 {
  background-image: url("./img/faceImg/dog.svg");
  background-repeat: no-repeat;
}
.icon-2 {
  background-image: url("./img/faceImg/cat.svg");
  background-repeat: no-repeat;
}
.icon-3 {
  background-image: url("./img/faceImg/fox.svg");
  background-repeat: no-repeat;
}
.icon-4 {
  background-image: url("./img/faceImg/rabbit.svg");
  background-repeat: no-repeat;
}
.icon-5 {
  background-image: url("./img/faceImg/blackcat.svg");
  background-repeat: no-repeat;
}
.icon-6 {
  background-image: url("./img/faceImg/bear.svg");
  background-repeat: no-repeat;
}
.icon-7 {
  background-image: url("./img/faceImg/elephant.svg");
  background-repeat: no-repeat;
}
.icon-8 {
  background-image: url("./img/faceImg/ghost.svg");
  background-repeat: no-repeat;
}
.icon-9 {
  background-image: url("./img/faceImg/pig.svg");
  background-repeat: no-repeat;
}

.icon-999 {
  background-image: url("./img/faceImg/developer.svg");
  background-repeat: no-repeat;
}

.bt-style {
  @apply transition hover:duration-500 dark:hover:text-blue-500 hover:text-black;
}

.login-And-Register-PageStyle {
  /* 样式 */
  @apply bg-white p-6 text-center rounded-2xl 
  shadow-md duration-200 shadow-gray-300 border-y-0 dark:bg-[#304053] 
  border-y-gray-100 border-solid border-l-[7px] dark:shadow-gray-800;
  /* 布局 */
  @apply h-[21rem] md:h-[50vh] lg:h-[70vh] xl:h-[70vh] w-[96vw] overflow-hidden sm:w-[67vw] lg:w-[96vw] xl:w-[80vw] 2xl:w-[85vw]
  flex justify-evenly items-center flex-col;
}

.showText-BoxStyle {
  /* border-left-width: 9px; */
  /* 样式 */
  @apply bg-white dark:bg-[#304053] text-left rounded-2xl shadow-lg border-y-0 border-y-gray-100;
}

.input-Style {
  /* 样式 */
  @apply px-5 mr-6 border-[1.3px] dark:ease-in-out dark:text-slate-50 dark:caret-slate-100 duration-200 dark:bg-slate-700 border-gray-500/50 md:px-[3rem] text-center rounded-xl shadow-sm shadow-slate-500/50 dark:shadow-slate-800/50 lg:px-16;
  /* 动画 */
  @apply transition ease-in focus:duration-150 focus:outline-none focus:ring-blue-500 focus:shadow-none focus:border-blue-500 focus:ring-1
  dark:focus:ring-gray-900 dark:focus:border-black dark:focus:ring-2;
}

.ventroar-size {
  letter-spacing: 0.2rem;
  /* 样式 */
  @apply font-bold font-sans text-5xl;
  /* 布局 */
  @apply lg:text-[7rem] xl:text-[8rem] lg:mr-[2rem];
}

.loginPage-input {
  @apply inline-flex items-center flex-row;
}

.button-style {
  /* 字体边框等样式 */
  @apply ease-in-out py-[5px] px-5 font-bold focus:outline-none;
  /* 动画设置 -translate-y:向y轴移动，duration:动画播放时长*/
  @apply active:-translate-y-[-0.2rem] active:scale-90 duration-100 
  active:text-black active:outline-none focus:outline-none;
}

.icon-input-Style {
  /* 样式 */
  @apply border-[1.3px] border-gray-900 dark:border-gray-400/80 dark:shadow-slate-800 dark:text-slate-200 font-bold rounded-[4.5px] shadow-sm shadow-slate-500/50;
  /* 动画 */
  @apply transition ease-out focus:duration-300 focus:outline-none focus:ring-blue-600 focus:shadow-none focus:border-blue-600 focus:ring-1;
}

.icon-button-style {
  /* 字体边框等样式 */
  @apply ease-in-out focus:outline-none;
  /* 动画设置 -translate-y:向y轴移动，duration:动画播放时长*/
  @apply active:-translate-y-[-0.2rem] active:scale-90 duration-100 
    active:outline-none focus:outline-none active:border-none focus:border-none;
}

.registerPage-input {
  @apply flex items-center flex-row;
}

.textBar-style {
  /* 字体边框等样式 */
  @apply font-sans tracking-widest py-[5px] px-5 rounded-[4px] focus:outline-none
  fixed right-[0%] top-[6%] text-center font-bold;
}
