@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  sm	640 像素	@media (min-width: 640px) { ... }
  md	768 像素	@media (min-width: 768px) { ... }
  lg	1024像素	@media (min-width: 1024px) { ... }
  xl	1280 像素	@media (min-width: 1280px) { ... }
  2xl	1536 像素	@media (min-width: 1536px) { ... }
*/

/* 动画设置区 */
/* 从两边模糊渐入动画 */
:root {
  /* ease-in corresponds to cubic-bezier(0.42, 0, 1.0, 1.0) */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  /* ease-out corresponds to cubic-bezier(0, 0, 0.58, 1.0) */
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  /* ease-in-out corresponds to cubic-bezier(0.42, 0, 0.58, 1.0) */
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* 文字从中间模糊扩散动画 */
.an-1 {
  animation-name: focus-in-expand;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -1em;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* 从顶部模糊渐入动画 */
.an-2 {
  animation-name: text-blur-out-top;
  animation-duration: 1.7s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes text-blur-out-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-400px);
    filter: blur(12px) opacity(0%);
  }
  100% {
    transform: translateY(0);
    filter: blur(0.01);
  }
}

/* 从上方至下渐显 */
.an-3 {
  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: var(--ease-out-cubic);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 从向上下两边同时拉扯 */
.an-4 {
  animation-name: slit-in-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
  }
}

/* 从右边模糊渐入 */
.an-5 {
  animation-name: roll-in-blurred-left;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(1000px);
    filter: blur(50px);
    opacity: 0;
  }
  50% {
    transform: translateX(500px);
    filter: blur(50px);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}

/* 从下至上缓入 */
.an-6 {
  animation-name: slide-in-bck-bottom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* 动画设置区 */

/* 清除自带浏览器滚动条样式 */
::-webkit-scrollbar {
  display: none;
}

/* color区 */
.bg-1 {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.bg-2 {
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.bg-3 {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

html,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  box-sizing: border-box;
}

.bg-all {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.08'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bt-style {
  @apply transition hover:duration-500 hover:text-black;
}

.loginPageStyle {
  /* border-left-width: 9px; */
  /* 样式 */
  @apply bg-white p-6 text-center rounded-2xl 
  shadow-lg border-y-0 border-l-blue-600 
  border-y-gray-100 border-solid border-l-[7px];
  /* 布局 */
  @apply h-[20rem] xl:h-[25rem] w-[20rem] sm:w-[30rem] lg:w-[60rem] xl:w-[70rem] 2xl:w-[100rem]
  flex justify-evenly items-center flex-col lg:flex-row;
}

.loginPage-input-Style {
  /* 样式 */
  @apply px-8 border-[1.3px] border-gray-900 sm:px-[3rem] text-center rounded-full shadow-lg shadow-slate-300/60 lg:px-16;
  /* 动画 */
  @apply transition ease-in-out focus:duration-300 focus:outline-none focus:ring-sky-500 focus:ring-1 focus:border-sky-500 focus:shadow-sky-500/30;
}

.ventroar-size {
  letter-spacing: 0.2rem;
  /* 样式 */
  @apply text-blue-600 font-bold font-sans text-5xl;
  /* 布局 */
  @apply lg:text-[7rem] xl:text-[8rem] lg:mr-[2rem];
}

.login-button-style {
  /* 字体边框等样式 */
  @apply font-sans text-white ease-in-out uppercase shadow-md shadow-blue-500/50
  tracking-widest bg-blue-500 py-1 px-5 font-bold rounded-xl focus:outline-none;
  /* 动画设置 -translate-y:向y轴移动，duration:动画播放时长*/
  @apply hover:-translate-y-[0.13rem] hover:scale-110 
  hover:bg-indigo-500 hover:shadow-indigo-500/50 duration-300 hover:text-black;
}
